<!DOCTYPE html>
<html>

<head>
  <title>My Python Website</title>
  <link rel="stylesheet" type="text/css" href='../static/style.css'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='Thunder_bolt.ico') }}">
</head>

<body>
  <p style="text-align:center"></p>
  <b>Python Kathukalam nu Soningale Senjingala!!!</b>

  <br>
  <br>
  Just kidding guys. Ithulam chumma dummy assignment(Web development with python aam)
  Sappa matter saltu water ;)
  <br>
  --written by {{name}} {{DOB}}
  <!--This will be processed by Jinja2 and results like 9-->
  <script src='../static/script.js'></script>
</body>

</html>